body {
    background-color: #F5F5F5;
    text-align: center;
}
#searchicon {
    width: 150px;
    height: 150px;
}
input#seach_input {
    width: 200px;
    height: 30px;
    border: 2px solid #A9A9A9;
    border-radius: 15px;
    padding: 5px 15px;
}
input[type=submit] {
    background-color: #3399ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }