<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AIR-MiniSearchEngine</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <img src="{{ user_image }}" id="searchicon">
    <br>
    <form action="search" method="post">
        <br>
        <input type="text" name="query" id="search_input" placeholder="Input your query..">
        <input type="submit" value="SEARCH" id="search_btn">
        <br>
        <p>{{ search_result_text }}</p>
            {% if content %}
                {% for item in content %}
                <a href="{{ url_for('static', filename='files/' + item) }}" target="_blank">{{ item }}</a><br><br>
                {% endfor %}
            {% else %}
                {% for message in get_flashed_messages()%}
<!--                    <div>-->
                        <p id="flash_msg">{{message}}</p>
<!--                    </div>-->
                {% endfor %}
            {% endif %}

    </form>
</body>
</html>